body {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

#Header {
  background-color: rgb(9, 170, 170);
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  font-family: 'Lobster', cursive;
}
#ListWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

#ListItem {
  width: 45vw;
  margin: 10px;
  padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content:space-between;
  background-image: linear-gradient(rgb(255, 255, 255), rgb(9, 170, 170));
  border-radius: 5px;
  border: 1px solid black;
  font-size: x-large;
  font-family: 'Lobster', cursive;
  box-shadow: 5px 5px 5px rgb(141, 141, 140);
}
#ListItem:hover {
  cursor: pointer;
}
